* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url('/fondo.svg');
  background-size: cover; /* Ajusta el tamaño al contenedor */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}


a {
  color: inherit;
  text-decoration: none;
}
